
/* BASICS */

@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    color: #666666;
    background: url('../img/mur.jpg') no-repeat center center fixed;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%; /* for Android 2.1-2.3 */
}

h1, .h1, h2, h3, h4, h5, h6 {
    font-family: 'chunkfiveroman', Times, "Times New Roman", serif;
    color: #000000;
}

h4, h5, h6 {
    margin-bottom: 5px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
    color: #333333;
}

h5 {
    font-size: 16px;
    color: #666666;
}

blockquote, blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}

blockquote {
    border-left: 5px solid #DDDDDD;
}

.footer-row {
  bottom: 0;
  margin-bottom: 23px;
  position: absolute;
  width: 100%;
}

footer {
    font-size: 14px;
}

a {
    color: #006d8c;
}

a:hover, a:focus {
    color: #00607b;
}

img.align-right {
    margin: 0 0 0 1em;
    padding: 0
}


/* GENERAL LAYOUT */

.container.main {
    position: relative;
    min-height: 100%;
    padding-top: 33px;
    padding-bottom: 45px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-offset-4 {
        margin-left: 30%;
    }

    .col-md-8 {
        width: 70%;
    }
}


/* HEADER */

header {
  bottom: 0;
  position: fixed;
  width: 263px;
  margin-left: 15px;
  z-index: 10;
}

@media (max-width: 991px) {
    header {
        position: relative;
        width: auto;
        min-height: 204px;
    }
}

.logo {
    float: left;
    max-width: 100%;
    margin-left: -6px;
    margin-right: 30px;
}

.logo img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.main-nav {
    float: left;
}

@media (min-width: 550px) and (max-width: 991px) {
    .main-nav {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-right: 15px;
    }
}

.main-nav > a:hover, .main-nav > a:focus {
    text-decoration: none;
}

.main-nav h1, .main-nav .h1 {
    font-size: 2.059em;
    margin-bottom: 0;
    margin-top: 20px;
}

.main-nav h1 small, .main-nav .h1 small {
    display: block;
    color: #666666;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 0.4em;
    line-height: 1.214;
    margin-top: 0.143em;
}

.sub-header {
    width: 190px;
    margin-top: 1.765em;
}

.sub-header ul {
    text-align: justify;
    list-style: none;
    padding: 0;
    line-height: 1;
}

.sub-header ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.sub-header li {
    display: inline-block;
}

nav {
    margin-bottom: 0.941em;
}

@media (max-width: 549px) {
    .logo {
        float: right;
        margin-right: 15px;
    }
    .logo img {
        width: 180px;
    }
    .main-nav {
        float: left;
    }
    .main-nav h1, .main-nav .h1 {
        margin-top: 0;
    }
    header {
        font-size: 0.878em;
        min-height: 0;
    }
    nav {
        margin-bottom: 0;
    }

    .sub-header ul {
        margin-bottom: 0;
    }
}

@media (max-width: 435px) {
    .logo {
        float: left;
    }
    .logo img {
        width: 62px;
        margin-bottom: 5px;
    }
}

nav a {
    font-family: 'chunkfiveroman', Times, "Times New Roman", serif;
    color: #4D4D4D;
}

nav a:hover, nav a:focus {
    text-decoration: none;
}


/* Social icons */

.social-icons {
    margin: 0 -5px 19px -6px;
    font-size: 1px;
}

@media (max-width: 991px) {
    .social-icons {
        margin-bottom: 0;
    }
}

.fb-link, .twitter-link, .linkedin-link, .google-link, .rss-link {
    display: inline-block;
    height: 40px;
    width: 39px;
    text-indent: -9999px;
    direction: ltr;
    background: url('../img/social-icons.png');
}

.fb-link { background-position: 0 0; }

.twitter-link { background-position: -38px 0; }

.linkedin-link { background-position: -77px 0; }

.google-link { background-position: -116px 0; }

.rss-link { background-position: -155px 0; }

.fb-link:hover, .fb-link:focus { background-position: 0 40px; }

.twitter-link:hover, .twitter-link:focus { background-position: -38px 40px; }

.linkedin-link:hover, .linkedin-link:focus { background-position: -77px 40px; }

.google-link:hover, .google-link:focus { background-position: -116px 40px; }

.rss-link:hover, .rss-link:focus { background-position: -155px 40px; }



.postbox > small {
    position: relative;
    top: -8px;
}

time {
    color: #999999;
    font-family: 'chunkfiveroman', Times, "Times New Roman", serif;
    font-size: 18px;
    margin-right: 30px;
}

.badge {
    background-color: #BBBBBB;
}

.bricks > li {
    display: inline;
    background-color: #b4dbe6;
    padding: 4px 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin-right: 4px;
}

.postbox {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 10px;
}

img {
    display: block;
    width: auto;
    max-height: 400px;
    max-width: 100%;
    margin: 1em 0;
    padding: 0 2em;
}

.figure {
    margin: 1em 2em;
}

.figure img {
    width: auto;
    max-height: 400px;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.caption {
    font-size: 15px;
    margin-top: 0.2em;
}

.pager {
    font-size: 14px;
}
